name: Pull Request

on:
  pull_request:
    branches:
      - 'main'
      - 'jaspr/**/*'

jobs:

  cancel-previous-runs:
    name: Cancel Previous Runs
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@85880fa0301c86cca9da44039ee3bb12d3bedbfa  # v0.12.1
        with:
          access_token: ${{ github.token }}

  check-commit-message:
    name: Check Commit Message
    runs-on: ubuntu-latest
    steps:
      - name: Check commit message line length
        uses: gsactions/commit-message-checker@16fa2d5de096ae0d35626443bcd24f1e756cafee  # v2.0.0
        with:
          pattern: "^.{0,74}(\n.*)*$"
          error: 'Your commit subject should not be longer than 74 characters.'
          excludeDescription: 'true'
          excludeTitle: 'true'
          checkAllCommitMessages: 'true'
          accessToken: ${{ secrets.GITHUB_TOKEN }}
      - name: Check commit subject does not end with a period
        uses: gsactions/commit-message-checker@16fa2d5de096ae0d35626443bcd24f1e756cafee
        with:
          pattern: '.+[^\.]$'
          error: 'Your commit subject should not end in a period.'
          excludeDescription: 'true'
          excludeTitle: 'true'
          checkAllCommitMessages: 'true'
          accessToken: ${{ secrets.GITHUB_TOKEN }}

  gradle:
    name: Gradle Build
    needs: cancel-previous-runs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Java (Graal VM)
        uses: renatoathaydes/setup-java-sdkman@2.1.1
        with:
          # noinspection YAMLIncompatibleTypes
          java-version: "21.0.1-graalce"

      - name: Setup Gradle
        uses: gradle/gradle-build-action@ac2d340dc04d9e1113182899e983b5400c17cda1 # v3.5.0

      - name: Run Tests
        run: ./gradlew build --configure-on-demand --max-workers=4
        shell: bash

      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@170bf24d20d201b842d7a52403b73ed297e6645b  # v2.18.0
        if: always()
        with:
          junit_files: "**/build/test-results/**/*.xml"
          check_run_annotations: none
