name: Test Results

on:
  workflow_run:
    workflows: ["Pull Request"]
    types:
      - completed

permissions:
  checks: write
  pull-requests: write
  contents: read
  actions: read

jobs:

  test-results:
    name: Publish Test Results
    runs-on: ubuntu-latest
    if: >
      github.event.workflow_run.conclusion == 'success' ||
      github.event.workflow_run.conclusion == 'failure'

    steps:
      - name: Download Artifacts
        uses: dawidd6/action-download-artifact@fe9d59ce33ce92db8a6ac90b2c8be6b6d90417c8  # v6
        with:
          run_id: ${{ github.event.workflow_run.id }}
          path: artifacts

      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@27d65e188ec43221b20d26de30f4892fad91df2f  # v2.22.0
        with:
          commit: ${{ github.event.workflow_run.head_sha }}
          event_file: artifacts/Event File/event.json
          event_name: ${{ github.event.workflow_run.event }}
          files: "artifacts/**/*.xml"
          check_run_annotations: none
